<!DOCTYPE html>
    <header class="text-center pt-1 text-6xl p-4">
        <h1>/ALL_IECI</h1>
        <h2>Student Dashboard</h2>
    </header>

    <nav class="bg-white border-2 border-gray-300 rounded-full m-2 p-1 flex justify-end items-center text-black">
        <span>Logged in as <strong><%= current_user.email %></strong></span>
        <%= link_to "Edit profile", edit_user_registration_path, class: "bg-blue-500 hover:bg-blue-700 font-bold py-1 px-3 rounded-full text-sm mr-2" %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "bg-red-500 hover:bg-red-700 font-bold py-1 px-3 rounded-full text-sm" %>
    </nav>
</html>