<!-- app/views/shared/_adminsidebar.html.erb -->
<aside class="menu box_cursos">
  <ul class="menu-list">
    <li>
      <button class="button is-fullwidth" onclick="location.href='<%= admin_users_path %>'">Usuarios</button>
    </li>
    <li>
      <button class="button is-fullwidth" onclick="location.href='<%= admin_cursos_path %>'">Cursos</button>
    </li>
    <li>
      <button class="button is-fullwidth" onclick="location.href='<%= admin_universidades_path %>'">Universidades</button>
    </li>
    <li>
      <button class="button is-fullwidth" onclick="location.href='<%= study_materials_path %>'">Materiales de Estudio</button>
    </li>
  </ul>
</aside>
