<div class='text-black overflow-hidden'>
  <%= form_with url: complete_course_path, method: :post, class: "space-y-4" do |form| %>
    <%= form.hidden_field :course_id, value: @curso.id %>
    
    <div>
      <label for="feedback" class="">¿Qué te pareció el curso?</label>
      <%= form.text_area :feedback, placeholder: "Deja tu feedback aquí", rows: 4, class: "textarea" %>
    </div>
    
    <div class="flex justify-end">
      <%= form.submit "Terminar Curso", class: "button is-primary flex" %>
    </div>
  <% end %>
</div>