<!-- app/views/shared/_usuarios.html.erb -->

<div class="usuarios-list p-4">
<h3 class="text-3xl mb-4 text-black">Listado de Usuarios</h3>
  <table class="min-w-full leading-normal">
    <thead>
      <tr>
        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
          Nombre
        </th>
        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
          Apellido
        </th>
        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
          Email
        </th>
        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
          Estudiante
        </th>
        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
          Administrador
        </th>
        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
          Acciones
        </th>
      </tr>
    </thead>
    <tbody class="text-black">
      <% usuarios.each do |usuario| %>
        <tr>
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
            <%= usuario.user_name %>
          </td>
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
            <%= usuario.user_last_name %>
          </td>
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
            <%= usuario.email %>
          </td>
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
            <% if usuario.user_student == 1 %>
              Si
            <% else %>
              No
            <% end %>
          </td>
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
            <% if usuario.admin? %>
              Si
            <% else %>
              No
            <% end %>
          </td>

          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm text-black">
            <!-- Pasamos el ID del usuario a la función cargarVista -->
            <a href="javascript:void(0)" onclick="cargarVista('user_info', <%= usuario.id %>);" class="info-btn block py-2.5 px-4 text-black rounded hover:bg-purple-200">+ info</a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
