

<div>
    <!-- aqui se cargara el readme -->
    <%= markdown_to_html(@curso.file.download) %>
</div>


<div>
    <!-- aqui ira el boton de terminar curso y el input de feedback para el curso -->
</div>