<!DOCTYPE html>
<html>
<head>
    <title>/ALL_INF</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Otros elementos del head como enlaces a hojas de estilo, etc. -->
</head>
<body>
    <!-- Mensajes de alerta y aviso -->
    <%= alert %>
    <%= notice %>

    <!-- Contenido principal -->
    <div class="section has-text-centered is-fullheight">
        <h1 class="homeTitle mt-6">./all_inf</h1>
        <h4 class="homesubTitle mt-1 mb-3">
        ¡Bienvenido a ./all_inf!<br />
        Una plataforma desarrollada para que aprendas todo lo necesario sobre el mundo de la informática.
        </h4>

        <!-- Botones -->
        <div class="mt-4">
            <button onclick="window.location.href='users/sign_in'" class="button is-primary">
                Iniciar sesión
            </button>
            <button onclick="window.location.href='users/sign_up'" class="button is-link">
                Registrarse
            </button>
        </div>
    </div>
</body>
</html>
