@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";
@import 'github_markdown';

html, body {
    background-image: radial-gradient(at left bottom, rgb(15, 23, 42), rgb(88, 28, 135), rgb(15, 23, 42));
    font-family: 'Font Mono', monospace;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: white;
    overflow: auto;
}

.mobile-warning {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    padding: 1em;
    z-index: 1000;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.columns {
    flex-grow: 1;
    overflow: hidden; /* Evitar que los hijos crezcan fuera del contenedor */
}

.column {
    display: flex;
    flex-direction: column;
}

.box_terminal,
.box_cursos {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.box_terminal .is-flex-grow-1,
.box_cursos .contenido-curso {
    flex-grow: 1;
}

.homeTitle {
    font-size: clamp(4rem, 10vw, 8rem);
    text-align: center;
    margin-top: -20vh;
    color: white;
    font-family: 'Font Mono', monospace;
}

.homesubTitle {
    font-size: clamp(1rem, 2vw, 1.5rem);
    text-align: center;
}

.input-custom, 
.select-custom select {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.1);
}

.select-custom {
    width: 100%;
}

.regularTitle {
    font-size: clamp(3rem, 5vw, 4rem);
    text-align: center;
    font-family: 'Font Mono', monospace;
}

.regularsubTitle {
    font-size: clamp(1.5rem, 2vw, 2rem);
    text-align: center;
}

.regularheadTitle {
    font-size: clamp(1.5rem, 2vw, 2rem);
}

.box_login {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: clamp(1.5rem, 2vw, 2rem);
    border-radius: 12px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
}

.box_terminal {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: clamp(1.5rem, 2vw, 2rem);
    border-radius: 12px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
}

.navbar_custom {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    padding: 0.25rem 0.5rem;
}

.navbar-item {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
}

.navbar-start {
    margin-right: auto;
}

.navbar-end {
    margin-left: auto;
}

.button.is-small {
    padding: 0.25rem 0.5rem;
}

.contenido-curso {
    overflow-y: auto;
    flex-grow: 1;
}

.is-flex-grow-1 {
    flex-grow: 1;
}

/* Estilos para el menú */
.menu .dropdown-content {

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu .dropdown-content button {
    border: none;
    background-color: rgba(100, 50, 150, 0.8); /* Tono más opaco de morado */
    text-align: left;
    width: 100%;
    padding: 0.5rem 1rem;
    color: white;
    word-wrap: break-word;
    white-space: normal;
    margin: 5px 0; /* Espaciado entre botones */
    border-radius: 8px; /* Bordes redondeados */
}

.menu-list > li > button {
    background-color: rgb(88, 28, 135); /* Color morado */
    border: none;
    color: white;
    border-radius: 8px;
    margin-bottom: 5px;
}

.menu .dropdown-content.is-hidden {
    display: none;
}

.table-container{
    max-height: clamp(15rem, 20vw, 20rem);
    overflow-x: auto;
    overflow-y: auto;
    display: flex;
    justify-content: center;
}
.table-custom {
    color: white; /* Texto blanco */
}

.table-custom tbody tr:nth-child(even) {
    background-color: rgba(53, 53, 53, 0.9); /* Fondo 90% transparente */
}

.table-custom tbody tr:nth-child(odd) {
    background-color: rgba(53, 53, 53, 0.5); /* Fondo 50% transparente */
}

.contenido-principal {
    max-height: calc(100vh - 200px); /* Ajusta este valor según tus necesidades */
    overflow-y: auto;
}

.notification {
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
  
  .notification.slide-out {
    opacity: 0;
    transform: translateY(-20px);
  }