@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";
@import 'github_markdown';

html, body {
    background-image: radial-gradient(at left bottom, rgb(15, 23, 42), rgb(88, 28, 135), rgb(15, 23, 42));
    font-family: 'Font Mono', monospace;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.columns {
    flex-grow: 1;
}

.column {
    display: flex;
    flex-direction: column;
}

.box_terminal,
.box_cursos {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.box_terminal .is-flex-grow-1,
.box_cursos .contenido-curso {
    flex-grow: 1;
}

.homeTitle {
    font-size: clamp(4rem, 10vw, 8rem);
    text-align: center;
    margin-top: -20vh;
    color: white;
}

.homesubTitle {
    font-size: clamp(1rem, 2vw, 1.5rem);
    text-align: center;
}

.input-custom, 
.select-custom select {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.1);
}

.select-custom {
    width: 100%;
}

.regularTitle {
    font-size: clamp(3rem, 5vw, 7rem);
    text-align: center;
}

.regularsubTitle {
    font-size: clamp(1.5rem, 2vw, 2rem);
    text-align: center;
}

.box_login {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: clamp(1.5rem, 2vw, 2rem);
    border-radius: 12px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
}

.box_terminal {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: clamp(1.5rem, 2vw, 2rem);
    border-radius: 12px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
}

.navbar_custom {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    padding: 0.25rem 0.5rem;
}

.navbar-item {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
}

.navbar-start {
    margin-right: auto;
}

.navbar-end {
    margin-left: auto;
}

.button.is-small {
    padding: 0.25rem 0.5rem;
}

.contenido-curso {
    overflow-y: auto;
    flex-grow: 1;
}

.is-flex-grow-1 {
    flex-grow: 1;
}
