<div id="user-distribution-by-degree-and-university-container" style="width: 100%; height: 400px;" data-chart-data="<%= @chart_data.to_json %>"></div>

<script>
  document.addEventListener("turbo:load", function() {
    const chartContainer = document.getElementById('user-distribution-by-degree-and-university-container');
    if (chartContainer) {
      const chartData = JSON.parse(chartContainer.dataset.chartData);
      const colors = Highcharts.getOptions().colors;

      const universityColors = {};
      chartData.browserData.forEach((university, index) => {
        universityColors[university.name] = colors[index % colors.length];
        university.color = colors[index % colors.length];
      });

      Highcharts.chart('user-distribution-by-degree-and-university-container', {
        chart: {
          type: 'pie',
          backgroundColor: 'white'
        },
        title: {
          text: 'Distribución de Usuarios por Carrera y Universidad',
          style: {
            color: 'black'
          }
        },
        plotOptions: {
          pie: {
            shadow: false,
            center: ['50%', '50%']
          }
        },
        tooltip: {
          valueSuffix: '%'
        },
        series: [{
          name: 'Universidades',
          data: chartData.browserData,
          size: '60%',
          dataLabels: {
            color: '#000000',
            distance: -30
          }
        }, {
          name: 'Carreras',
          data: chartData.versionsData.map(degree => {
            return {
              name: degree.name,
              y: degree.y,
              color: universityColors[degree.university]
            };
          }),
          size: '80%',
          innerSize: '60%',
          dataLabels: {
            format: '<b>{point.name}:</b> <span style="opacity: 0.5">{y}</span>',
            style: {
              fontWeight: 'normal',
              color: '#000000'
            }
          },
          id: 'versions'
        }],
        legend: {
          itemStyle: {
            color: 'black'
          }
        },
        exporting: {
          enabled: true
        }
      });
    }
  });
</script>
